* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(248,249,250);
    background-attachment: scroll;
    flex-wrap: wrap;
}

/* === MAIN === */
/* === Index === */
.navbar {
    margin-bottom: 50px;
}
.section_buscador {
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 10px;
    height: 270px;
    background-color:rgb(233, 105, 91);
    width: 50%;
    border-radius: 10px;
    text-align: left;
    color: 999;
}

.section_buscador h2 {
    font-size: 20px;
    padding: 10px 0 10px 10px;
}

.section_radio {
    margin: 0 0 0 30px;
}

.section_radio label{
    padding: 0 30px 0 0;
    font-size: 14px;
}

.section_grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.section_grid form input {
    outline: none;
    border: solid 1px #ccc;
    padding: 8px;
    border-radius: 5px;
    width: 250px;
    margin: 20px 0 0 20px;
}

.section_date_input{
    background-color: white;
    outline: none;
    border: solid 1px #ccc;
    padding: 8px;
    border-radius: 5px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin: 20px 0 0 10px;
}

.section_date_submit {
    outline: none;
    border: solid 1px #ccc;
    padding: 8px;
    border-radius: 5px;
    width: 250px;
    background-color: rgb(116, 201, 250);
    margin: 20px 0 0 10px;
}


/* === INDEX MEDIA QUERIES === */

@media screen and (max-width: 1240px) {
    .section_grid {
        display: grid;
        grid-template-columns: 100%;
    }
    .section_buscador {
        height: 340px;
    }
    .section_date {
        margin: 10px 0 0 10px;
    }
    .section_grid form input {
        width: 90%;
        margin: 20px 0 0 20px;
    }  
}

@media screen and (max-width: 1224px) {
    .section_date_submit {
        width: 45%;
    }
}
    
@media screen and (max-width: 1190px) {
    .section_grid form input {
        width: 92%;
    }
    .section_date_input {
        width: 94%;
    }
    .section_date_submit {
        width: 94%;
    }
    .section_buscador {
        height: 400px;
        width: 70%;
    }
}

@media screen and (max-width: 670px) {
    .section_buscador {
        width: 70%;
    }
    .section_grid form input {
        width: 88%;
    }
    .section_date_input {
        width: 90%;
    }
        .section_date_submit {
        width: 90%;
    }
}

@media screen and (max-width: 520px) {
    .section_radio label{
    display: row;
    }
}

@media screen and (max-width: 470px) {
    .section_radio label{
        display: row;
    }
    .section_buscador {
        width: 70%;
    }
    .section_grid form input {
        width: 83%;
    }
    .section_date_input {
        width: 85%;
    }
    .section_date_submit {
        width: 85%;
    }
}

@media screen and (max-width: 347px) {
    .section_radio label{
        display: row;
    }
    .section_buscador {
        width: 70%;
        height: 420px;
    }
    .section_grid form input {
        width: 78%;
    }
    .section_date_input {
        width: 80%;
    }
    .section_date_submit {
        width: 80%;
    }
}

/* === MAIN === */
/* === Ofertas === */

.img_ofertas {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    margin: 0 auto;
    flex-wrap: wrap;
    grid-gap: 30px;
}

.img_ofertas img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(60%);
    border-radius: 5px;
    transition: all 1s;
}

.img_ofertas img:hover {
    filter: brightness(100%);
    transform: scale(1.10);
}

/* === MAIN === */
/* === Perfil === */

.section_perfil li{
    background-color: rgb(233, 105, 91);
    margin: 0 auto 10px;
    height: 60px;
    line-height: 60px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    color: 999;
    list-style-type: none;

}

.section_perfil li:hover {
    background-color: rgb(153, 32, 18);
    color: white;
}

/* === PERFIL MEDIA QUERIES === */
@media screen and (max-width: 370px) {
    .section_perfil li{
        width: 300px;
    }
}

/* === MAIN === */
/* === Contacto === */
.section_formulario_contacto h2{
    font-size: 24px;
}
.section_formulario_contacto {
    background-color: rgb(116, 201, 250);
    color: 999;
    border-radius: 10px;
    padding: 30px;
    margin: 0 auto;
    width: 40%;
}

/* === MAIN === */
/* === Ayuda === */
.section_ayuda {
    background-color: rgb(233, 105, 91);
    margin: 0 auto;
    padding: 20px;
    height: 165px;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    color: 999;
    margin-bottom: 150px;
}
.section_ayuda h3{
    font-size: 24px;
}
.section_ayuda p{
    font-size: 14px;
}
.ayuda_input {
    outline: none;
    border: solid 1px #ccc;
    padding: 8px;
    border-radius: 5px;
    width: 250px;
}
.ayuda_submit {
    background-color:rgb(116, 201, 250);
    outline: none;
    padding: 8px;
    border-radius: 5px;
    width: 150px;
}

/* === AYUDA MEDIA QUERIES === */

@media screen and (max-width: 750px) {
    .section_ayuda {
        height: 180px;
    }
}

@media screen and (max-width: 635px) {
    .section_ayuda {
        height: 230px;
    }
    .ayuda_input {
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 483px) {
    .section_ayuda {
        height: 270px;
    }
}

@media screen and (max-width: 425px) {
    .section_ayuda {
        height: 290px;
    }
    .ayuda_input {
        width: 80%;
    }
}

@media screen and (max-width: 321px) {
    .section_ayuda {
        height: 330px;
    }
    .ayuda_input {
        width: 80%;
    }
}

/* === FOOTER === */

footer {
    background-color: lightgrey;
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 80px;
}

.footer_text_1 {  
    padding: 15px 0 0 0;
    font-size: 12px;
}

footer div img {
    padding: 0 10px 0 10px;
    width: 50px;
}

.footer_text_2 {  
    padding: 40px 0 0 0;
    font-size: 12px;
}