* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  background-attachment: scroll;
  flex-wrap: wrap; }

@font-face {
  font-family: mouser;
  src: url(../fonts/Mouser.otf); }

h1 {
  font-family: mouser; }

/*ofertas*/
.img_ofertas figure .capa h3 {
  font-family: mouser; }

/*menu*/
.navbar {
  margin-bottom: 60px; }

/*mixin*/
h1 {
  font-size: 38px;
  color: #1c1c1c;
  text-align: center;
  letter-spacing: 0.40em; }
  h1 p {
    margin: 0 0 5px 0; }

h2 {
  font-size: 16px;
  margin: 0 0 50px 0;
  color: #818181;
  text-align: center;
  letter-spacing: 0.25em; }

/*index*/
.imagen-fondo-index {
  z-index: -1;
  position: absolute;
  width: 100%; }

.section_buscador {
  height: 270px;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 200px;
  background-color: #e9695b;
  text-align: left;
  color: 999;
  box-shadow: 0.9px 0.9px 2.2px rgba(0, 0, 0, 0.037), 2.2px 2.2px 5.3px rgba(0, 0, 0, 0.053), 4.1px 4.1px 10px rgba(0, 0, 0, 0.065), 7.4px 7.4px 17.9px rgba(0, 0, 0, 0.077), 13.8px 13.8px 33.4px rgba(0, 0, 0, 0.093), 33px 33px 80px rgba(0, 0, 0, 0.13); }
  .section_buscador h3 {
    font-size: 20px;
    padding: 10px 0 10px 10px; }
  .section_buscador .section_radio {
    margin: 0 0 0 30px; }
    .section_buscador .section_radio label {
      padding: 0 30px 0 0;
      font-size: 14px; }
  .section_buscador .section_grid {
    display: grid;
    grid-template-columns: 50% 50%; }
    .section_buscador .section_grid form input {
      height: 40px;
      width: 250px;
      padding: 8px;
      border-radius: 5px;
      outline: none;
      border: solid 1px #ccc;
      margin: 20px 0 0 20px; }
    .section_buscador .section_grid .section_date .section_date_input {
      height: 40px;
      width: 250px;
      padding: 8px;
      border-radius: 5px;
      background-color: white;
      outline: none;
      border: solid 1px #ccc;
      font-family: Arial, Helvetica, sans-serif;
      color: gray;
      margin: 20px 0 0 10px; }
    .section_buscador .section_grid .section_date .boton-primario-buscador {
      height: 40px;
      width: 250px;
      padding: 8px;
      border-radius: 5px;
      background-color: #74c9fa;
      border: solid 1px #74c9fa;
      margin: 20px 0 0 10px; }

.card {
  box-shadow: 0.9px 0.9px 2.2px rgba(0, 0, 0, 0.037), 2.2px 2.2px 5.3px rgba(0, 0, 0, 0.053), 4.1px 4.1px 10px rgba(0, 0, 0, 0.065), 7.4px 7.4px 17.9px rgba(0, 0, 0, 0.077), 13.8px 13.8px 33.4px rgba(0, 0, 0, 0.093), 33px 33px 80px rgba(0, 0, 0, 0.13);
  margin: 0 auto; }
  .card .card-body {
    text-align: center; }
    .card .card-body .btn {
      justify-items: center;
      text-align: center;
      background-color: #74c9fa;
      width: 100%; }

/*ofertas*/
.img_ofertas {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;
  margin: 0 auto;
  flex-wrap: wrap;
  grid-gap: 30px;
  justify-content: center;
  align-items: center; }
  .img_ofertas figure {
    position: relative;
    height: 300px;
    width: 100%;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0.9px 0.9px 2.2px rgba(0, 0, 0, 0.037), 2.2px 2.2px 5.3px rgba(0, 0, 0, 0.053), 4.1px 4.1px 10px rgba(0, 0, 0, 0.065), 7.4px 7.4px 17.9px rgba(0, 0, 0, 0.077), 13.8px 13.8px 33.4px rgba(0, 0, 0, 0.093), 33px 33px 80px rgba(0, 0, 0, 0.13);
    cursor: pointer; }
    .img_ofertas figure:hover > .capa {
      opacity: 1;
      visibility: visible; }
    .img_ofertas figure img {
      height: 300px;
      width: 100%;
      padding: 0;
      width: 100%;
      transition: all 500ms ease-out;
      object-fit: cover; }
    .img_ofertas figure .capa {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      padding: 0;
      background: rgba(36, 36, 36, 0.9);
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      .img_ofertas figure .capa h3 {
        margin-top: 60px;
        margin-bottom: 10px;
        color: white;
        font-size: 60px; }
      .img_ofertas figure .capa p {
        color: white;
        font-size: 16px;
        margin: 0 auto; }

/*contacto*/
.imagen-fondo-contacto {
  z-index: -1;
  position: absolute;
  width: 100%; }

.section_formulario_contacto {
  height: 570px;
  width: 40%;
  padding: 30px;
  border-radius: 10px;
  background-color: #74c9fa;
  box-shadow: 0.9px 0.9px 2.2px rgba(0, 0, 0, 0.037), 2.2px 2.2px 5.3px rgba(0, 0, 0, 0.053), 4.1px 4.1px 10px rgba(0, 0, 0, 0.065), 7.4px 7.4px 17.9px rgba(0, 0, 0, 0.077), 13.8px 13.8px 33.4px rgba(0, 0, 0, 0.093), 33px 33px 80px rgba(0, 0, 0, 0.13);
  color: 999;
  margin: 0 auto; }
  .section_formulario_contacto h3 {
    font-size: 24px; }

/*ayuda*/
.section_ayuda {
  height: 130px;
  width: 88%;
  padding: 10px;
  border-radius: 10px;
  background-color: #e9695b;
  margin: 0 auto;
  text-align: center;
  color: 999;
  margin-top: 120px;
  box-shadow: 0.9px 0.9px 2.2px rgba(0, 0, 0, 0.037), 2.2px 2.2px 5.3px rgba(0, 0, 0, 0.053), 4.1px 4.1px 10px rgba(0, 0, 0, 0.065), 7.4px 7.4px 17.9px rgba(0, 0, 0, 0.077), 13.8px 13.8px 33.4px rgba(0, 0, 0, 0.093), 33px 33px 80px rgba(0, 0, 0, 0.13); }
  .section_ayuda h3 {
    font-size: 18px; }
  .section_ayuda p {
    font-size: 14px; }
  .section_ayuda form .ayuda_input {
    height: 40px;
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: solid 1px #ccc; }
  .section_ayuda form .boton {
    height: 40px;
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    background-color: #74c9fa;
    border: solid 1px #74c9fa; }

.ayuda_banner {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px; }

.card-ayuda {
  height: 200px;
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  background-color: #74c9fa;
  margin: 0 auto;
  outline: none;
  box-shadow: 3px 3px 3px 3px #afaeae;
  display: flex;
  align-items: center; }
  .card-ayuda:hover {
    background-color: #fc8e81; }
  .card-ayuda .card-body {
    display: flex;
    align-items: center; }
    .card-ayuda .card-body img {
      width: 70px;
      height: 70px;
      margin: 0 40px 0 0; }
    .card-ayuda .card-body .texto {
      color: #242424;
      text-align: justify-all;
      justify-content: center;
      align-items: center; }
      .card-ayuda .card-body .texto .card-title {
        font-size: 28px;
        font-weight: 500; }
      .card-ayuda .card-body .texto .card-text {
        font-size: 16px; }

/*perfil*/
.imagen-fondo-perfil {
  z-index: -1;
  position: absolute;
  width: 100%; }

.section_perfil {
  z-index: 1; }
  .section_perfil li {
    height: 60px;
    width: 350px;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0.9px 0.9px 2.2px rgba(0, 0, 0, 0.037), 2.2px 2.2px 5.3px rgba(0, 0, 0, 0.053), 4.1px 4.1px 10px rgba(0, 0, 0, 0.065), 7.4px 7.4px 17.9px rgba(0, 0, 0, 0.077), 13.8px 13.8px 33.4px rgba(0, 0, 0, 0.093), 33px 33px 80px rgba(0, 0, 0, 0.13);
    background-color: #e9695b;
    margin: 0 auto 10px;
    line-height: 60px;
    text-align: center;
    color: 999;
    list-style-type: none; }
    .section_perfil li:hover {
      background-color: #992012;
      color: white; }

footer {
  margin-top: 80px;
  width: 100%; }
  footer .footer_container {
    margin: auto;
    background-color: #1c1c1c;
    color: #c7c7c7; }
    footer .footer_container .footer_container_body {
      display: flex;
      padding: 40px;
      justify-content: space-between; }
      footer .footer_container .footer_container_body .col-1 {
        width: 250px;
        text-align: left; }
        footer .footer_container .footer_container_body .col-1 h4 {
          font-size: 16px; }
        footer .footer_container .footer_container_body .col-1 p {
          font-size: 12px;
          color: #c7c7c7;
          margin-top: 20px; }
      footer .footer_container .footer_container_body .col-2 {
        width: 250px;
        text-align: left; }
        footer .footer_container .footer_container_body .col-2 h4 {
          font-size: 16px; }
        footer .footer_container .footer_container_body .col-2 p {
          font-size: 12px;
          color: #c7c7c7;
          margin-top: 20px; }
      footer .footer_container .footer_container_body .col-3 {
        width: 250px; }
        footer .footer_container .footer_container_body .col-3 h4 {
          font-size: 16px; }
        footer .footer_container .footer_container_body .col-3 .row3 {
          margin-top: 20px;
          display: flex; }
          footer .footer_container .footer_container_body .col-3 .row3 img {
            width: 20px;
            height: 20px; }
          footer .footer_container .footer_container_body .col-3 .row3 label {
            font-size: 12px;
            color: #c7c7c7;
            margin-left: 20px;
            display: flex;
            max-width: 250px; }
      footer .footer_container .footer_container_body .col-4 {
        width: 250px; }
        footer .footer_container .footer_container_body .col-4 h4 {
          font-size: 16px; }
        footer .footer_container .footer_container_body .col-4 .row {
          display: flex; }
          footer .footer_container .footer_container_body .col-4 .row img {
            width: 35px;
            height: 35px;
            margin: 20px 5px 5px 0px; }
        footer .footer_container .footer_container_body .col-4 .row2 {
          display: flex; }
          footer .footer_container .footer_container_body .col-4 .row2 img {
            width: 35px;
            height: 35px;
            margin: 10px 5px 5px 0px; }
    footer .footer_container .container-footer {
      width: 100%;
      background-color: #141414;
      padding: 20px; }
      footer .footer_container .container-footer .copyright {
        color: #c7c7c7;
        font-size: 12px; }

/*index*/
@media screen and (max-width: 1240px) {
  .section_buscador {
    height: 340px; }
    .section_buscador .section_grid {
      display: grid;
      grid-template-columns: 100%; }
      .section_buscador .section_grid form input {
        width: 90%;
        margin: 20px 0 0 20px; }
    .section_buscador .section_date {
      margin: 10px 0 0 10px; } }

@media screen and (max-width: 1224px) {
  .boton-primario-buscador {
    width: 45%; } }

@media screen and (max-width: 1190px) {
  .imagen-fondo-index {
    visibility: hidden; }
  .section_buscador {
    height: 400px;
    width: 70%; }
    .section_buscador .section_grid form input {
      width: 92%; }
    .section_buscador .section_grid .section_date .section_date_input {
      width: 94%; }
    .section_buscador .section_grid .section_date .boton-primario-buscador {
      width: 94%; } }

@media screen and (max-width: 769px) {
  .card {
    margin: 0 auto; } }

@media screen and (max-width: 670px) {
  .section_buscador {
    width: 70%; }
    .section_buscador .section_grid form input {
      width: 88%; }
    .section_buscador .section_grid .section_date .section_date_input {
      width: 90%; }
    .section_buscador .section_grid .section_date .boton-primario-buscador {
      width: 90%; }
  .footer_container_body {
    display: flex; }
    .footer_container_body .col-1, .footer_container_body .col-2, .footer_container_body .col-3, .footer_container_body .col-4 {
      margin: 0 auto; } }

@media screen and (max-width: 572px) {
  .col-1, .col-2, .col-3, .col-4 {
    width: 90%;
    justify-content: center;
    flex-direction: column; }
    .col-1 h4, .col-2 h4, .col-3 h4, .col-4 h4 {
      margin-top: 30px; } }

@media screen and (max-width: 520px) {
  .section_radio label {
    display: row; } }

@media screen and (max-width: 460px) {
  .section_buscador {
    width: 70%; }
    .section_buscador .section_radio label {
      display: row; }
    .section_buscador .section_grid form input {
      width: 83%; }
    .section_buscador .section_grid .section_date .section_date_input {
      width: 85%; }
    .section_buscador .section_grid .section_date .boton-primario-buscador {
      width: 85%; } }

@media screen and (max-width: 347px) {
  .section_buscador {
    width: 70%;
    height: 420px; }
    .section_buscador .section_radio label {
      display: row; }
    .section_buscador .section_grid form input {
      width: 78%; }
    .section_buscador .section_date_input {
      width: 80%; }
    .section_buscador .boton-primario-buscador {
      width: 80%; } }

/*ofertas*/
@media screen and (max-width: 420px) {
  .img_ofertas {
    position: relative; }
    .img_ofertas figure img {
      position: relative; }
    .img_ofertas figure .capa {
      position: absolute;
      opacity: 1;
      visibility: visible;
      background: rgba(36, 36, 36, 0.7); }
      .img_ofertas figure .capa h3 {
        margin-top: 100px;
        font-size: 40px; }
      .img_ofertas figure .capa p {
        font-size: 12px; } }

/*ayuda*/
@media screen and (max-width: 588px) {
  .section_ayuda {
    height: 160px; }
  .boton {
    margin: 10px 0 0 0; } }

@media screen and (max-width: 500px) {
  .section_ayuda {
    height: 200px; } }

@media screen and (max-width: 481px) {
  .section_ayuda {
    height: 200px; }
    .section_ayuda .ayuda_input {
      width: 80%; }
    .section_ayuda .boton {
      margin-top: 10px; } }

@media screen and (max-width: 321px) {
  .section_ayuda {
    height: 230px; } }

/*contacto*/
@media screen and (max-width: 820px) {
  .imagen-fondo-contacto {
    visibility: hidden; }
  .section_formulario_contacto {
    width: 85%; } }

/*perfil*/
@media screen and (max-width: 720px) {
  .imagen-fondo-perfil {
    visibility: hidden; } }

@media screen and (max-width: 370px) {
  .section_perfil li {
    width: 300px; } }

/*footer*/
@media screen and (max-width: 1150px) {
  .footer_container_body {
    flex-wrap: wrap; } }

@media screen and (max-width: 830px) {
  .footer_container_body .col-3 {
    margin-top: 20px; }
  .footer_container_body .col-4 {
    margin-top: 20px; }
    .footer_container_body .col-4 .row .row2 {
      display: flex; } }
