$color-red: rgb(233, 105, 91);
$color-darkred: rgb(153, 32, 18);
$color-lightblue: rgb(116, 201, 250);
$color-darkblue: rgb(0, 141, 223);
$color-box-shadow: rgb(175, 174, 174);
$color-white: white;
$color-footer: lightgray;
$color-footer-dark: rgb(28, 28, 28);
$color-footer-darker: #141414;
